ul.fw-bold {
  font-weight: 600 !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.form-control:focus {
  border-color: rgb(208, 67, 18);
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.bg-danger {
  background-color: rgb(208, 67, 18) !important;
}
.text-danger {
  color: rgb(208, 67, 18) !important;
}
.btn-danger {
  background-color: rgb(208, 67, 18) !important;
}
